body {
	font-family: 'Noto Sans', sans-serif;
	color: #FF9E0D;
	background-color: #E80C7A;
	background-image: url('images/background.png');
}

h1, h3	{
	font-family: 'Arvo', serif;
	color: #FFA7FF;
	text-align: center;
}

h1 {
	font-size: 75px;
	letter-spacing: 1px;
}

h2.black {
	color: black;
}

p  {
	font-size: 14px;
	color: #000000;
	line-height: 22px;

}

p strong {
	color: #A80095;
	font-size: 50px;

}

ul	{
	width: 180px;
	text-align: left;
	margin: auto;
	list-style-type: square;
}

table,td {
	border: 2px solid #1FF3FF;
}

img.border{
	border: 10px solid yellow;
}

.white{
	color:white;
	font-size: 20px
}

#main {
	width: 900px;
	margin:20px auto;
	background-color: #ffffff;
}

#sidebar {
	width: 280px;
	height: 490px;
	margin-top: 10px;
	padding-left: 20px;
	float: right;
	background-color: #FF0DFF;
}

#content {
	width: 560px;
	float: left;
	padding-right: 20px;
	padding-left: 20px;
}

#footer {
	clear:both;
	padding-top: 20px;
}

#header {
	background-color: #E80C7A;
	padding: 20px;
	border: 5px solid #F29B30;
	background-image: url('images/sleepy.JPG');
	background-size: cover;
}

#navigation a:link {
	display: block;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}
#navigation a:visited {
	color: #2DD4FF;
}

#navigation a:hover {
	color: black;
}

#navigation a.active {
	color: black;
}







